.popUpEstilos{
    max-height: none; 
    overflow: visible;
}

.popUpEstilos md-toolbar{
    background: #1f547e;
    max-height: none;
    height: auto;
    display: block;
    overflow: auto;
    min-height: 82px;
}



.popUpEstilos md-toolbar .md-toolbar-tools{
    display: block;
    position: relative;
    padding: 11px 20px;
    height: auto;
    max-height: none;
}

.popUpEstilos md-toolbar .md-toolbar-tools h1{
      display: block;
    position: relative;
    padding: 6px 0px;
    height: auto;
    max-height: none;
    font-size: 17px;
    font-weight: 400;
    padding-right: 45px;
    text-align: justify;
    max-width: 980px;
    word-break: break-word;

} 


.popUpEstilos md-toolbar .md-toolbar-tools h2{
    display: block;
    position: relative;
    padding: 0px 0px;
    height: auto;
    max-height: none;
    font-weight: 700;
    font-size: 22px;
} 

.popUpEstilos md-toolbar .md-toolbar-tools .btn-close{
    position: absolute;
    right: 16px;
    top: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.popUpEstilos md-toolbar .md-toolbar-tools .btn-close:hover{
    background: rgba(17, 54, 84, 0.66) !important;
}

.popUpEstilos md-toolbar .md-toolbar-tools .btn-close md-icon{
    margin-top: -9px;
}


.popUpEstilos md-dialog-content{
   max-height: 71vh;
    min-height: 100px;
    padding: 10px 16px;
    min-width: 700px;
}

.popUpEstilos md-dialog-actions{
    text-align: left;
    background: #f5f9fc;
    padding: 0 17px;
}

.popUpEstilos .tituloSecundario , .popUpEstilos  tituloTerciario{
    border-left: 9px solid #1f547e;
}

.contenedorEspecialPopUP{
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 560px;
    height: auto;
    padding: 0;
    margin: 36px auto !important;
}


.contenedorEspecialPopUP .EstiloInput input {
    border-bottom: 2px solid #4a4a4a;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.contenedorEspecialPopUP .EstiloInput{
    height: auto;

}

.contenedorSectionSolucion{
    width: 100%;
    text-align: center;
}

/*
.SectionSolucion{
    display: inline-block;
    width: 104px;
    vertical-align: top;
    margin: 5px;
    border: 4px solid #dd8c09;
}
*/
.SectionSolucion { 

    text-align: center;
    white-space: normal;
    margin: 0;
    width: 5px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    border: 4px solid #dd8c09;
    margin: 7px;
    display: inline-block;
    vertical-align: top;
    min-height: inherit;
    line-height: 1;
    overflow: visible;
    position: relative;
    padding-top: 10px;
    -webkit-transition: 0.2s;
    transition: 0.2s;

}


.textoResaltanteCuadro{
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.46);
    padding: 5px 10px;
    margin: 0;
}

.contenedorSpecialPop{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorSpecialPop p{
    margin: 5px 51
}

.TerminoDescritivo{
    display: inline-block;
    width: 74%;
    margin: 5px 0;
    font-size: 12px;
    line-height: 1;
    position: relative;
    display: inline-block;
    width: 74%;
    margin: 5px 0;
    font-size: 12px;
    line-height: 1;
    /* height: 25px; */
    /* background: rebeccapurple; */
    position: relative;

}

.SectionSolucion img{

    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: -16px;
    margin-left: -15px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.SectionSolucion:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);

    color:#1f547e;
}

.SectionSolucion:hover img{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: -28px;
}


.SectionSolucion  span{ 
    width: 100%;
    display: inline-block;
    font-weight: 700;
    padding: 10px 0 ;
    font-size: 14px;
}


.SeccionElegida{
    display: inline-flex;
    width: 15vh;
    height: 15vh;
    border: 4px solid #dd8c09;
    margin: 12px;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.SeccionElegida img {
    width: 90%;
}


.addSolution{
    margin-top: 3px !important;
}



.cambiarSiguiente , .cambiarAnterior{
    position: absolute;
    height: 35px !important;
    width: 35px !important;
    top: 50%;
    margin-top: -5px;
    padding: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: none;
    font-size: 45px;
    color: #dd8c09;
    min-width: inherit;
    border-radius: 50%;
}

.cambiarSiguiente .material-icons, 
.cambiarAnterior .material-icons{
    font-size: 35px;
}


.cambiarSiguiente{
    left: -55px;

}
.cambiarAnterior{
    right: -55px;
}


.solucionText{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.solucionText input{
    text-align: center;
}

.footerContenedorEspecial{
    border-top: 2px solid #4a4a4a;
    background: #f7f7f7;
}
.listaRetro{
    list-style:none;
    position: relative;
    padding:0;

}

md-dialog md-dialog-content .md-title{
    border-left: 9px solid #009688;
    padding: 6px;
    margin: 14px 0px;
}
md-dialog md-dialog-actions{
    background: #f5f9fc;
}

md-dialog md-dialog-actions .md-button{
    background: #dd8c09 !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 0 4vh;
    min-width: initial;
    max-width: none;
    color: white !important;
    font-size: 12px;
    height: 26px;
    min-height: 26px;
    border-radius: 0;
    line-height: 0;
}




.popUpEstilos  .divivertical {
    margin: 0px 13px;
}

.popUpEstilos .ParteDividiaPreferencial{
    width: 46.3%;
}

.listaRetro:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 100%;
    top: 0;
    right: 0;
    background: #1F546C;
    position: absolute;
}


.listaRetro .listaRetro:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    background: #009688;
    position: absolute;
}

.listaRetro li {
    width: 96%;
    margin: 0;

}




.listaRetro li .ButonPrincipal{
    border-right: 9px solid #1F546C;
    overflow: visible;
    background: rgb(0,150,136)!important;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
}

.listaRetro li .ButonPrincipal:hover{
    border-right: 9px solid  rgb(221, 140, 9) !important;
    background:  rgb(221, 140, 9) !important;
}

.listaRetro li .ButonPrincipal:hover:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid  rgb(221, 140, 9) !important;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    right: -18px;

}


.listaRetro li .ButonPrincipal:before{
    content: "";
    position: absolute;         
    width: 0;
    height: 0;
    border-left: 16px solid #1f546c;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    right: -18px;
}

.SeleccionasImagenSolucion{
    background: #dd8c09 !important;
    display: inline-flex;
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 0;
    min-height: inherit;
    min-width: inherit;
    margin: 0;
    border-radius: 0;
    color: #fff;
    padding: 4px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.43);
    z-index: 10;
}


.SeleccionasImagenSolucion:hove{
    background: #bd7808 !important;
}

.SeleccionasImagenSolucion .material-icons{
    font-size: 18px;
}


#imgSolucion .lf-ng-md-file-input-container{
    display: none;
}




.ImagenNuevaSolucion{
    height: 100%;
    width: 100%;
    margin: 0;
    display: block;
    overflow: auto;
}

.ImagenNuevaSolucion  .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-x{
    float: none;
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    background: #dd8c09;
    right: -14px;
    top: 20px;
    margin: 4px;
    width: 25px;
    padding: 0;
    height: 25px;
    min-height: inherit;
    color: #fff;
    min-width: inherit;
    font-size: 25px;
    line-height: 1;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.43);
    z-index: 10;
    cursor: pointer;
}

.ImagenNuevaSolucion  .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mejnsajeErrorSolucion{
    width: 100%;
    position: absolute;
    z-index: -1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: -34px;
    font-size: 12px;
    color: #ba3526;
    z-index: 10;
}

.ImagenNuevaSolucion  .lf-ng-md-file-input-preview-container{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    border: 0;
    padding: 0;
    margin-bottom: 0;
}

.ImagenNuevaSolucion   .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame>audio, .lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame>img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.ImagenNuevaSolucion  .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-drag{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.ImagenNuevaSolucion .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame .lf-ng-md-file-input-frame-caption{
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 4px;
    font-size: 11px;
    color: #fff;
    background: #2da1a0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 26px;
    padding: 8px;
}

.UlFichaTecnicaFinal{
    list-style:none;
}
.UlFichaTecnicaFinal li {
    margin-top: 8px;
    margin-bottom: 5px;
    color: #151515;
    font-size: 14px;
}


.UlFichaTecnicaFinal li  span{
    width: 219px;
    display: inline-block;
}


.UlFichaTecnicaFinal .sublistado{
    margin-left: 35px;
}

.UlFichaTecnicaFinal li .listado{
    color: #2da1a0;
    margin-right: 10px;
}

.UlFichaTecnicaFinal li strong{

}

.ListadoAparecer .listaRetro{
    min-height: 0;
    max-height: 0px;
    overflow:hidden;
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s ;
}

.ListadoAparecer:hover .listaRetro{
    max-height: 350px;

}

.listaRetro .listaRetro .ButonListCascadaDos{
    background: rgb(31, 84, 126)!important;
}

.tipoSolucionIcon{
    height: 8vh;
    width: 8vh;
    border: 3px solid #db8c0b;
    vertical-align: middle;
    min-height: 56px;
    min-width: 56px;
}


.tipoSolucionAgregada{
    display: inline-block;
    width: 100%;
    height: 8vh;
    margin: 5px 0px;
    padding: 0 5px;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}



.tipoSolucionAgregada span{
    color: #1f547e;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
    width: 85px;
}


@media screen and  (min-width: 1600px)  {
    .TerminoDescritivo{
        font-size: 15px;
    }


    .contenedorEspecialPopUP .EstiloInput input {
        border-bottom: 2px solid #4a4a4a;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .UlFichaTecnicaFinal li{
        font-size: 16px;
    }


    .SectionSolucion  span{ 

        font-size: 18px;
    }



    .popUpEstilos md-toolbar .md-toolbar-tools h1{

        font-size: 19px;


    } 


    .popUpEstilos md-toolbar .md-toolbar-tools h2{

        font-size: 24px;
    } 


}

@media screen and  (max-width: 1300px)  {

}



@media screen and  (max-width: 990px)  , screen and  (max-height:569px){
    .UlFichaTecnicaFinal li strong{
        width: 100%;
        display: inline-block;
        padding-left: 21px;
    }



    .popUpEstilos .ParteDividiaPreferencial{
        width: 100%;
    }


    /*
    .popUpEstilos{
        display: block;
    height: auto;
    max-height: none;
    max-width: 90%;
    }
    */
    .popUpEstilos md-dialog-content{
        min-height: 250px;
        min-width: none;
    }

    .contenedorSectionSolucion{
        width: 100%;
    }


    .popUpEstilos md-dialog-content {
        max-height: 71vh;
        min-height: 100px;
        padding: 10px 16px;
        min-width: 0;
        height: auto;
    }


    .tipoSolucionAgregada{
        text-align: center;
        height: auto;
    }

    .tipoSolucionAgregada span {
        width: 100%;
        text-align: center;
        margin: 8px 0px;
    }

    .cambiarSiguiente , .cambiarAnterior{
     position: fixed;
    color: #fff;
    background: #dd8c09 !important;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.34);
    }
}