.slidernumereoVisibleSiempre{
    margin:4vh 0;
}



.slidernumereoVisibleSiempre .md-thumb{
    background: #2da1a0 !important;
}

.slidernumereoVisibleSiempre .md-thumb:after{
    background: #2da1a0 !important;
}

.slidernumereoVisibleSiempre  .md-track-container {
    height: 4px !important;
    cursor: move;
}
/*** MINIMO SLIDER **/
.slidernumereoVisibleSiempre .md-focus-ring{
    background-color: rgb(45,161,160) !important;
}

.slidernumereoVisibleSiempre  .md-sign{
    opacity: 1 !important;
    -webkit-transform: scale(1)!important;
    -moz-webkit-transform: scale(1) !important;
    -o-webkit-transform: scale(1) !important;
    -ms-webkit-transform: scale(1) !important;
    cursor: move;
    background-color: rgb(45,161,160) !important;
}

/*** FIN  MINIMO SLIDER **/

.slidernumereoVisibleSiempre .md-focus-ring  ,
.slidernumereoVisibleSiempre  .md-sign{
    /*background: red;*/
    -webkit-transform: scale(1)!important;
    -moz-webkit-transform: scale(1) !important;
    -o-webkit-transform: scale(1) !important;
    -ms-webkit-transform: scale(1) !important;
    cursor: move;

}
.slidernumereoVisibleSiempre  .md-sign:after {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0) scale(1) !important;
    border-top-color: rgb(45, 161, 160) !important;
}


.slidernumereoVisibleSiempre .md-track-ticks canvas{
    left: 0 !important;
}

.contenedorSelectcionOrigenDatos .md-label{
    font-size: 12px;

}

@media(min-width: 1600px){ 


    .contenedorSelectcionOrigenDatos .md-label{
        font-size: 15px;
    }

}